.App {
    width: 1500px;
    margin: 0 auto;
    
    h1 {
        margin: 0;
        margin-left: 50px;
    }
}
.App .first-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 10px 20px 0;
    align-items: center;
    height: 2em;

    button {
        margin-right: 60px;
        padding: 0 20px;
        height: 2em;
        line-height: 2em;
        text-align: center;
        background-color: red;
        color: white;
        border: none;
    }
}

.groupListHide {
    display: none;
}
.groupListShow {
    display: block;
}
.studentList h1 {
    margin-left: 10px;
}
.App .all-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin:20px 50px;
}
.trainer,.trainee {
    margin-right: 50px;
    margin-bottom: 50px;
}
